{% extends 'main.html' %}
{% load humanize %}

{% block dreamerslist %}
    <div class="container general">
        <h1>Архив желаний {{ username }}:</h1>
        <div class="grid">
            {% for desire in desire_list %}
                <div class="grid-item archive" id="doo-{{ desire.id }}-{{ user_id }}">
                    <div class="desire_top">
                        <span class="desire_date">{{ desire.date|naturalday }}</span>
                    </div>
                     <div class="desire_title" id="loopcounter-{{ forloop.counter }}-desire-{{ desire.id }}">
                        <a href="{{ desire.link }}" {% if desire.link == "#" %}target="_self"{% else %}target="_blank"{% endif %}>{{ desire.title|safe }}</a>
                    </div>
                    <div class="desire_description"><p>{{ desire.text|safe }}</p></div>
                    <div class="desire_button">
                        <button type="button"  class="del_from_arch" id="arch-{{ desire.id }}-{{ user_id }}">Удалить</button>
                        <button type="button"  class="return_to_arch" id="return-{{ desire.id }}-{{ user_id }}">Вернуть</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}



