{% extends 'main.html' %}
{% load humanize %}

{% block dreamerslist %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/desirelist/">Все списки</a></li>
            <li class="breadcrumb-iteme"><a class="sort_desirelist" href="/dreamers/{{ sub_id }}">Список желаний
                "{{ desirelist.desirelist_name }}"</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Архив</li>
        </ol>
    </nav>
    <div class="grid">
        {% for desire in desire_list %}
            <div class="grid-item archive" id="doo-{{ desire.id }}-{{ sub_id }}">
                <div class="desire_top">
                    <span>{% if desire.delta > 0 %}{{ desire.date|date:"d/m/Y" }}{% else %}
                        {{ desire.date|naturalday }}{% endif %}</span>
                </div>
                <div class="desire_title" id="loopcounter-{{ forloop.counter }}-desire-{{ desire.id }}">
                    {{ desire.title|safe }}
                </div>
                <div class="desire_button_group_for_archive">
                     <div class="desire_button col-lg-6">
                        <button type="button" class="return_from_arch" id="return-{{ desire.id }}-{{ sub_id }}">
                            Вернуть
                        </button>
                    </div>
                    <div class="desire_button col-lg-6">
                        <button class="del_from_arch" id="arch-{{ desire.id }}-{{ sub_id }}">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}



