{% extends 'main.html' %}
{% load socialaccount %}
{% load staticfiles %}
{% block dreamerslist %}
      <div class="container general">
          <div class="desire-group-sort hidden" id="add_desirelist_block">
            <form action="{% url 'adddesirelist' %}" class="button add_desirelist_form" method="post">{% csrf_token %}
                <div class="profile_title">
                    {% if desirelists.count == 0 %}
                        <h3>Cоздайте Ваш первый список желаний</h3>
                    {% else %}
                        <h3>Добавьте список желаний</h3>
                    {% endif %}
                </div>
                <div class="form-group-item">
                    <input type="text"  class= 'add_desirelist_form_input' name="desirelist_name" maxlength="250" placeholder="Введите краткое имя для списка">
                </div>
                <button type="submit" class="add_desirelist_form_button" value="">Добавить</button>
            </form>
        </div>
          <div class="sort-group listdes">
              {% for desirelist in desirelists %}
                  <div class="sort-group-item" id="do-{{ desirelist.id }}-{{ dreamer_id }}">
                      <div class="deldesire_img">
                          <a href="#" class="go1" id="go-{{ desirelist.id }}-{{ dreamer_id }}"><img src="/static/img/delete-Icon.png" width="15px"></a>
                      </div>
                      <div class="desirelist_name">
                          <a href="#" class="copy_to_clipboard" title="Копировать адрес списка" id="/dreamers/{{ desirelist.desirelist_substitute_id }}">
                              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                          </a>
                          <a href="/dreamers/{{ desirelist.desirelist_substitute_id }}" class="link_for_send">{{ desirelist.desirelist_name }}</a>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
{% endblock %}