{% extends 'main.html' %}
{% load socialaccount %}
{% load staticfiles %}
{% block dreamerslist %}
    <div class="sort-group listdes">
        {% for desirelist in desire_list %}
            <div class="sort-group-item" id="do-{{ desirelist.id }}-{{ dreamer_id }}">
                <div class="row desirelist">
                    {% if desirelist.len <= 1 %}
                        <div class="reticle one_pthoto"
                             id="listphoto§{{ desirelist.listphoto.0.1 }}">
                            <img src="{{ desirelist.listphoto.0.0.url }}">
                        </div>
                    {% elif desirelist.len == 2 %}
                        <div class="reticle two_photo first" id="listphoto1§{{ desirelist.listphoto.0.1 }}">
                            <img class="one" src="{{ desirelist.listphoto.0.0.url }}">
                        </div>
                        <div class="reticle two_photo second" id="listphoto2§{{ desirelist.listphoto.1.1 }}">
                            <img class="two" src="{{ desirelist.listphoto.1.0.url }}">
                        </div>
                    {% elif desirelist.len == 3 %}
                        <div class="reticle three_photo"
                             id="len§{{ desirelist.len }}§listphoto§{{ desirelist.listphoto.0.1 }}">
                            <img class="one" src="{{ desirelist.listphoto.0.0.url }}">
                        </div>
                        <div class="reticle three_photo"
                             id="len§{{ desirelist.len }}§listphoto§{{ desirelist.listphoto.0.1 }}">
                            <img src="{{ desirelist.listphoto.1.0.url }}">
                        </div>
                        <div class="reticle three_photo thirds"
                             id="len§{{ desirelist.len }}§listphoto§{{ desirelist.listphoto.0.1 }}">
                            <img class="third" src="{{ desirelist.listphoto.2.0.url }}">
                        </div>
                    {% elif desirelist.len >= 4 %}
                        <div class="reticle four_photo"
                             id="len§{{ desirelist.len }}§listphoto§{{ desirelist.listphoto.0.1 }}">
                            {#                            <img src="{{ desirelist.listphoto.0.0.url }}">#}
                            {#                            <img src="{{ desirelist.listphoto.1.0.url }}">#}
                            {#                            <img src="{{ desirelist.listphoto.2.0.url }}">#}
                            {#                            <img src="{{ desirelist.listphoto.3.0.url }}">#}
                        </div>
                    {% endif %}
                </div>
                <div class="row desirelist">
                    <div class="desirelist_name">
                        <a href="#" class="copy_to_clipboard" title="Копировать адрес списка"
                           id="/dreamers/{{ desirelist.substitute_id }}">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        </a>
                        <a href="/dreamers/{{ desirelist.substitute_id }}"
                           class="link_for_send">{{ desirelist.listname }}</a>
                    </div>
                </div>
                <div class="desire_button">
                    {% if is_ownerlist %}
                        <button class="upDate list"
                                id="view§{{ desirelist.id }}§dreamer§{{ dreamer_id }}§text§{{ desirelist.listname }}§sub§{{ desirelist.substitute_id }}">
                            Обновить
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="modal_form1">
        <div class="row internal firs">
            <span class="name_desirelist">Введите имя нового списка</span>
        </div>
        <div class="row internal secnd">
            <form action="{% url 'adddesirelist' %}" class="button" method="post">{% csrf_token %}
                <input type="text" class='add_desirelist_form_input' name="desirelist_name"
                       maxlength="250"
                       placeholder="Введите краткое имя для списка">
                <button type="submit" class="add_desirelist_form_button" value="">Добавить</button>
            </form>
        </div>

        <div class="side">
            <span id="modal_close1">X</span> <!-- Кнoпкa зaкрыть -->
        </div>

    </div>
    <div id="overlay1"></div>
    <div id="modal_form4">
        <div class="row internal firs">
            <span class="name_desirelist">Измените имя списка</span>
        </div>
        <div class="row internal secnd">
            <form action="{% url 'editdesirelist' %}" class="button" method="post">{% csrf_token %}
                <input type="text" class='add_desirelist_form_input' id="text_desirelist_for_edit"
                       name="desirelist_name"
                       maxlength="250"
                       placeholder="Введите краткое имя для списка">
                <input class="desirelist_id" id="desirelist_id_for_edit" type="hidden" name="desirelist_id">
                <button type="submit" class="add_desirelist_form_button" value="">Сохранить</button>
            </form>
        </div>

        <div class="side">
            <span id="modal_close4">X</span> <!-- Кнoпкa зaкрыть -->
        </div>

    </div>
    <div id="overlay4"></div>
{% endblock %}