{% extends 'main.html' %}

{% block dreamerslist %}
    <div class="container">
        <h1>Desires by {{ dreamer.username }}:</h1>
        {% for desire in desires %}
            <div class="row">
                <div class="col-md-10 well" id="desireinfo-{{ desire.id }}" style="min-height: 80px">
                    {{ desire.desire_text|safe }}
                </div>
                <div class="col-md-10 well hidden desire-form" id="desireform-{{ desire.id }}" style="min-height: 80px">
                    <form action="{% url 'editdesire' dreamer.id  desire.id %}" method="post">
                        <textarea name="desire_text">
                            {{ desire.desire_text|safe }}
                        </textarea>
                        <input type="submit"  class="btn btn-info" value="Save">
                    </form>
                </div>
                <div class="col-md-2" style="margin-bottom: 10px">
                    <button class="btn btn-default edit" id="desirebutton-{{ desire.id }}">Edit</button>
                </div>
                <div class="col-md-2">
                    <form action="{% url 'deldesire' dreamer.id %}" method="post">{% csrf_token %}
                        <input type="hidden" name="deldesire"  value={{ desire.id }}>
                        <input type="submit" form="deldesire" class="btn btn-danger" value="Delete">
                    </form>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <form action="{% url 'adddesire' dreamer.id %}" class="button" method="post" >{% csrf_token %}
                <div class="col-md-10 well">
                    {{ form.desire_text}}
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-info" value="Add">
                </div>
            </form>
        </div>
    </div>

{% endblock %}



