{% extends 'main.html' %}
{% load socialaccount %}
{% block dreamerslist %}
    <div class="form-group" id="add_desire_block" style="padding-top: 5px">
        <form action="/auth/login/" method="post">{% csrf_token %}
            <div class="profile_title"><h3>Авторизация</h3></div>
            <div class="form-group-item">
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your name">
                <input type="hidden" class="form-control" name="master_id" value="{{ master }}">
            </div>
            <div class="form-group-item">
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
            </div>
            <label for="password"class="box_error hidden">Ошибка аутентификации! Повторите попытку.</label><br>
            <input type="hidden" class="form-control error" name="password_error" value="{{ password_error }}">
            <div class="form-group-button">
                <button type="submit" class="svl btn btn-primary btn-lg">Вход</button>
                <a class="authorization" href="/auth/register/?master_id={{ master }}">Регистрация</a>
            </div>
        </form>
        <a href="{% provider_login_url "vk" method="oauth2" next="/" %}"><i style="color:#45668e;" class="fa fa-vk fa-lg"></i> ВКонтакте</a>
    </div>
{% endblock %}
