{% extends 'main.html' %}

{% block dreamerslist %}
    <div class="container">
        <h1>Desires by {{ dreamer.username }}:</h1>
        {% for desire in desires %}
            <div class="row">
                <form action="/dreamers/deldesire/{{ dreamer.id }}/" id="deldesire" method="post">{% csrf_token %}
                    <div class="col-md-10 well">
                        {{ desire.desire_text }}
                    </div>
                    <div class="col-md-2">
                        <input type="hidden" name="deldesire"  value={{ desire.id }}>
                        <input type="submit" form="deldesire" class="btn btn-info" value="Delete">
                    </div>
                </form>
            </div>
        {% endfor %}
        <div class="row">
            <form action="/dreamers/adddesire/{{ dreamer.id }}/" class="button" method="post" >{% csrf_token %}
                <div class="col-md-10 well">
                    {{ form.desire_text }}
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-info" value="Add">
                </div>
            </form>
        </div>
    </div>
{% endblock %}



