{% extends 'main.html' %}
{% load humanize %}

{% block dreamerslist %}
    <div class="container general sort_desire">
        <h1>Список желаний {{ username }}:</h1>
        <div class="sort-group" id="simpleList">
            {% for desire in desire_list %}
                {% if desire.desire_state != 2 %}
                <div class="sort-group-item" >
                    <div class="desire_attr">
                        <div class="desire_title" id="loopcounter-{{ forloop.counter }}-desire-{{ desire.id }}">{{ desire.title }}</div>
                        <div class="desire_date"><span class="desire_date">{{ desire.date|date:"M., d, Y" }}</span></div>
                        <div class="button_del" id="desire-{{ desire.id }}">
                            <form action="{% url 'del_sort_desire' user_id %}" method="post">{% csrf_token %}
                                <input type="hidden" name="deldesire"  value={{ desire.id }}>
                                <button type="submit"  class="hidden sort_desire_del" value="{{ desire.id }}">Удалить</button>
                            </form>
                            <a href="#" style="position: absolute; top: 2%;"><img src="/static/img/delete-Icon.png" width="15px"></a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}



