{% extends 'main.html' %}

{% block login %}
    <div class="container">
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">User name</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your name">
            </div>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password"><br>
            <input type="submit" class="btn btn-success btn-block" value="Вход">
            <p class="help-block">Если Вы впервые на сайте пожалуйста зарегистрируйтесь</p>
            <a href="/auth/register/" class="btn btn-primary btn-block">Регистрация</a>
            <a class="btn btn-social-icon btn-sm btn-vk" href="#"><span class="fa fa-vk"></span></a>
        </form>

    </div>
{% endblock %}

