{% extends 'main.html' %}

{% block login %}
    <div class="form-group" id="add_desire_block" style="padding-top: 5px">
        <form action="/auth/register/" method="post">{% csrf_token %}
            <div class="profile_title"><h3>Регистрация</h3></div>
            <div class="form-group-item">
                <div class="form-control-static">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group-item">
                <div class="form-control-static">
                    {{ form.password1 }}
                </div>
            </div>
            <div class="form-group-item">
                <div class="form-control-static">
                    {{ form.password2 }}
                </div>
            </div>
            <div class="form-group-item">
                <input type="hidden" name="master" value="{{ master_id }}">
                <button type="submit" class="regbut">Registration</button>
            </div>
        </form>
    </div>
{% endblock %}