{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wishlist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap-social.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/mystyle.css" %}?v=2">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 abc">
                {% if username %}
                    <a href="/dreamers/archive/{{ user_id }}/" class="btn btn-info arch" role="button">Archive</a>
                    <a href="/auth/logout/" class="btn btn-info" role="button">Logout ({{ username }})</a>
                {% else %}
                    <a href="/auth/login/" class="btn btn-info" role="button">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block dreamerslist %}{% endblock %}
    {% block login %}{% endblock %}
    {% block editlist %}{% endblock %}


    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/main.js" %}?v=3"></script>


</body>
</html>
