{% load staticfiles %}
{% load humanize %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wishlist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap-social.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/mystyle.css" %}?v=15">
</head>
<body>
    <nav class="navbar">
        <div class="collapse navbar-collapse" id="navbarColor01">
            {% if is_owner %}
                <ul class="nav navbar-nav navbar-left">
                    <a href="/dreamers/archive/{{ user_id }}/" class="btn">Архив</a>
                    <a href="/dreamers/{{ user_id }}/" class="btn">Мои желания</a>
                    <a href="#id_desire_text" class="btn btn-google">+Добавить желание</a>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="/auth/logout/" class="btn">Выйти</a>
                </ul>
            {% elif is_choice %}
                <ul class="nav navbar-nav navbar-right">
                    <a href="/auth/logout/" class="btn">Выйти</a>
                </ul>
            {% endif %}
        </div>
    </nav>

    {% block dreamerslist %}{% endblock %}
    {% block login %}{% endblock %}
    {% block editlist %}{% endblock %}

    <a href="#" class="scrollup">Наверх</a>

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bower_components/Sortable/Sortable.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/main.js" %}?v=8"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/snap.svg-min.js" %}"></script>

</body>
</html>
