{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wishlist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/mystyle.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 nav">
                {% if username %}
                    <a href="/auth/logout/" class="btn btn-info" role="button">Logout ({{ username }})</a>
                    <a href="/dreamers/{{ user_id }}/" class="btn btn-info" role="button">Add to desire</a>
                {% else %}
                    <a href="/auth/login/" class="btn btn-info" role="button">Login</a>
                {% endif %}
                    <a href="/auth/register/" class="btn btn-info" role="button">Sign up</a>
            </div>
        </div>
    </div>
    {% block dreamerslist %}{% endblock %}
    {% block login %}{% endblock %}


    <script src="{% static "bower_components/bootstrap/dist/js/main.js" %}"></script>
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>


</body>
</html>
